.page-header {
    font-size: 40px;
}

.product-description {
    font-size: 32px;
    text-align: center;
}

.validation-error {
    margin-top: 5px;
    color: red;
}

@media (max-width: 767px) {
    .page-header {
        font-size: 28px;
    }
    .product-description {
        font-size: 16px;
    }
    .footer {
        visibility:hidden;
    }
}