<!--<h1>Hello, world!</h1>
<p>Welcome to your new single-page application, built with:</p>
<ul>
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
    <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
    <li><a href='https://webpack.github.io/'>Webpack</a> for building and bundling client-side resources</li>
    <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>To help you get started, we've also set up:</p>
<ul>
    <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
    <li><strong>Server-side prerendering</strong>. For faster initial loading and improved SEO, your Angular app is prerendered on the server. The resulting HTML is then transferred to the browser where a client-side copy of the app takes over.</li>
    <li><strong>Webpack dev middleware</strong>. In development mode, there's no need to run the <code>webpack</code> build tool. Your client-side resources are dynamically built on demand. Updates are available as soon as you modify any file.</li>
    <li><strong>Hot module replacement</strong>. In development mode, you don't even need to reload the page after making most changes. Within seconds of saving changes to files, your Angular app will be rebuilt and a new instance injected into the page.</li>
    <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and the <code>webpack</code> build tool produces minified static CSS and JavaScript files.</li>
</ul> -->

<div class="product-description">
    <b><a href="/Content/PDFs/EMS-DCRT%20Product%20Description.pdf" target="_blank">Not an Existing User?</a></b>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-4 col-lg-5"></div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
            <img class="img-responsive" src="/Content/Images/EMS%20DCRT%20Logo.png" />
        </div>
        <div class="col-xs-3 col-sm-3 col-md-4 col-lg-5"></div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-sm-3 col-md-4 col-lg-4"></div>
        <div class="col-xs-8 col-sm-6 col-md-4 col-lg-4">
            <form id="login" #f="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="agency">Agency:</label>
                    <input type="text" class="form-control input-sm" [(ngModel)]="model.agency" name="agency" required (click)="reset($event)">
                    <div class="validation-error" [style.display]="hideAgencyError ? 'none' : 'inline'"><b>Error: </b>This agency is not in the system. Please enter another agency.</div>
                </div>
                <div class="form-group">
                    <label for="email">Username:</label>
                    <input type="text" class="form-control input-sm" [(ngModel)]="model.username" name="username" required (click)="reset($event)">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control input-sm" [(ngModel)]="model.password" name="password" required (click)="reset($event)">
                </div>
                <div class="checkbox">
                    <label><input type="checkbox">Remember me</label>
                </div>
                <button type="submit" class="btn btn-secondary"><b>Log in</b></button>
                <button type="reset" class="btn btn-secondary"><b>Clear</b></button>
            </form>
        </div>
        <div class="col-xs-2 col-sm-3 col-md-4 col-lg-4"></div>
    </div>
</div>
