<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <connectionStrings>
    <add name="EMSConnectionString" connectionString="DESKTOP-S72U0IF;database=ems;Integrated Security=false;user=emsuser1;pwd=emsuser1;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>